*.Rapp.history
*.Rout
Rprof.out
.Rproj.user
.Rhistory
.RData
.*ignore
.DS_Store
.git_commit_messages
.pull
.push

inst/Examples/plots
inst/Examples/g.c.*
inst/Examples/tmpscpt.R

psd.Rproj

README.html
NOBUILD/
packrat/lib*/

*.so
*.o
