S3method(constrain_tapers,taper)
S3method(ctap_friedman,taper)
S3method(ctap_loess,taper)
S3method(ctap_markov,taper)
S3method(ctap_simple,taper)
S3method(minspan,taper)
S3method(mod,default)
S3method(na_mat,default)
S3method(ones,default)
S3method(parabolic_weights,taper)
S3method(parabolic_weights_fast,taper)
S3method(plot,taper)
S3method(print,summary.taper)
S3method(print,taper)
S3method(psdcore,default)
S3method(riedsid,default)
S3method(riedsid,spec)
S3method(rlp_envAssign,default)
S3method(rlp_envAssignGet,default)
S3method(rlp_envGet,default)
S3method(rlp_envList,default)
S3method(rlp_envStatus,default)
S3method(rlp_initEnv,default)
S3method(splineGrad,default)
S3method(summary,taper)
S3method(vector_reshape,default)
S3method(zeros,default)
export(as.taper)
export(char2envir)
export(colvec)
export(constrain_tapers)
export(ctap_friedman)
export(ctap_loess)
export(ctap_markov)
export(ctap_simple)
export(envir2char)
export(is.spec)
export(is.taper)
export(minspan)
export(mod)
export(na_mat)
export(ones)
export(parabolic_weights)
export(parabolic_weights_fast)
export(psdcore)
export(riedsid)
export(rowvec)
export(splineGrad)
export(vector_reshape)
export(zeros)
import(RColorBrewer)
import(matrixStats)
import(signal)
useDynLib(rlpSpec)
