export(constrain_tapers)
export(riedsid)
import(matrixStats)
import(signal)
S3method('friedman.smooth',constrain_tapers)
S3method('loess.smooth',constrain_tapers)
S3method('markov.chain',constrain_tapers)
S3method('simple.slope',constrain_tapers)
S3method(riedsid,default)
